# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
/build/
/build-kos/
/out/
bin/
obj/

# Editor/IDE specific
.idea/
*.swp
*~
